<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{basics.name}}</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<style>
/*<!--*/
body {
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
	background-color: #171717;
	color: #eeeeee;
}
.main-wrap {
	max-width: 960px;
	margin: 0 auto;
}
a {
	color: #aaaaaa;
	text-decoration: none;
	-webkit-transition: color 0.175s ease 0.05s;
	   -moz-transition: color 0.175s ease 0.05s;
	        transition: color 0.175s ease 0.05s;
}
a:visited {
	color: #aaaaaa;
}
a:hover,
a:focus {
	color: #777777;
	text-decoration: none;
}

.header {
	text-align: center;
	font-size: 2em;
	margin-left: 5%;
	margin-rightt: 5%;
}
h1 {
	color: #eeeeee;
	font-size: 2em;
	margin-bottom: 0;
	text-transform: uppercase;
}
h2 {
	font-size: 3.5em;
	text-transform: uppercase;
}
h3 {
	color: #aaaaaa;
	font-size: 28px;
	margin-bottom: 0;
}
h4 {
	color: #666666;
	font-size: 1.5em;
	margin-top: 0;
}
.profile {
	font-family: "Montserrat";
	font-size: 1em;
	margin: 0;
}
.profile-name {
	display: none;
}

.contact-header {
	font-weight: bold;
}
.contact-list li,
.contact-list a {
	color: #eeeeee;
}
.label {
	margin-top: 0;
	margin-bottom: 1em;
}
.fa {
	font-size: 2em;
}
.left {
	font-size: 1em;
}
.main {
	margin: 0 auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}
.skills {
	margin-bottom: 10px;
}
p {
	color: #aaaaaa;
	font-family: "Open Sans";
	font-size: 1.5em;
}
li {
	color: #aaaaaa;
	font-family: "Open Sans";
	font-size: 1.5em;
}
.list-lines,
.list-lines li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-lines li {
	font-family: "Montserrat";
	font-size: 1em;
}
.list-set,
.list-set li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list-set li {
	font-family: "Montserrat";
	display: inline-block;
}
.list-set li a {
	display: inline-block;
}
.list-set li .fa {
	width: 1em;
	height: 1em;
}
/*Minor adjustment.*/
.list-set li .fa-stack-overflow:before {
	font-size: 0.9em;
	position: relative;
	top: -0.05em;
}
.list-set.keywords li {
	background-color: #444444;
	color: #eeeeee;
	padding: 6px;
	font-size: 1.2em;
	display: inline-block;
	margin: 0.1em 0;
}
blockquote {
	margin: 2em 10px;
	padding: 1em 10px;
	border-left: 10px solid #666666;
	font-family: "Open Sans";
	font-size: 1.5em;
}
blockquote .name {
	font-weight: bold;
	font-family: "Montserrat";
}
@media (max-width: 1000px) {
	.header {
		font-size: 1.66em;
	}
	h2 {
		font-size: 3em;
	}
}
@media (max-width: 500px) {
	p {
		font-size: 1.2em;
	}
	li {
		font-size: 1.2em;
	}
	blockquote {
		font-size: 1.2em;
	}
	h2 {
		font-size: 2.3em;
	}
}
/*-->*/
		</style>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="main-wrap">
			<header class="header">
				<h1>{{basics.name}}</h1>
				<h3 class="label">{{basics.label}}</h3>
				<ul id="contact" class="contact-list list-lines">
				{{#phoneBool}}
					<li class="contact-header">{{basics.phone}}</li>
				{{/phoneBool}}
				{{#emailBool}}
					<li class="contact-header"><a href="mailto:{{basics.email}}">{{basics.email}}</a></li>
				{{/emailBool}}
				{{#websiteBool}}
					<li class="contact-header"><a href="{{basics.website}}">{{basics.website}}</a></li>
				{{/websiteBool}}
				</ul>
				<br />
				<ul id="profiles" class="list-set">
				{{#basics.profiles}}
					<li><a href="{{url}}" class="profile" title="{{network}}"><i class="{{faclass}}"></i><span class="profile-name">{{network}}</span></a></li>
				{{/basics.profiles}}
				</ul>
			</header>
			<main role="main" class="main">
				{{#aboutBool}}
				<section id="about" class="section">
					<h2><i class="fa fa-user left"></i> About</h2>
					<p>{{basics.summary}}</p>
				</section>
				{{/aboutBool}}
				{{#workBool}}
				<section id="work" class="section">
					<h2><i class="fa fa-suitcase left"></i> Work Experience</h2>
					{{#work}}
					<div class="job">
						<h3>{{position}}, {{company}}</h3>
						<h4>{{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</h4>
						<p>{{summary}}</p>
						{{#workHighlights}}
						<h4>Highlights</h4>
						<ul>
						{{#highlights}}
							<li>{{.}}</li>
						{{/highlights}}
						</ul>
						{{/workHighlights}}
					</div>
					{{/work}}
				</section>
				{{/workBool}}
				{{#skillsBool}}
				<section id="skills" class="section">
					<h2><i class="fa fa-tasks left"></i> Skills</h2>
					{{#skills}}
					<h3 class="skills">{{name}}</h3>
					<ul class="list-set keywords">
					{{#keywords}}
						<li>{{.}}</li>
					{{/keywords}}
					</ul>
					{{/skills}}
				</section>
				{{/skillsBool}}
				{{#educationBool}}
				<section id="education" class="section">
					<h2><i class="fa fa-graduation-cap left"></i> Education</h2>
					{{#education}}
					<h3>{{studyType}} - {{institution}}</h3>
					<h4>{{startDateMonth}}{{startDateYear}} - {{endDateMonth}}{{endDateYear}}</h4>
					<p>{{area}}</p>
					{{#educationCourses}}
					<h4>Courses</h4>
					<ul>
					{{#courses}}
						<li>{{.}}</li>
					{{/courses}}
					</ul>
					{{/educationCourses}}
					{{/education}}
				</section>
				{{/educationBool}}
				{{#awardsBool}}
				<section id="awards" class="section">
					<h2><i class="fa fa-trophy left"></i> Awards</h2>
					{{#awards}}
					<h3>{{title}} - {{awarder}}</h3>
					<h4>{{day}} {{month}} {{year}}</h4>
					<p>{{summary}}</p>
					{{/awards}}
				</section>
				{{/awardsBool}}
				{{#publicationsBool}}
				<section id="publications" class="section">
					<h2><i class="fa fa-book left"></i> Publications</h2>
					{{#publications}}
					<h3>{{name}}</h3>
					<h4>{{day}} {{month}} {{year}}</h4>
					<p>{{summary}}</p>
					<h4>Website<br /><a href="{{website}}">{{website}}</a></h4>
					{{/publications}}
				</section>
				{{/publicationsBool}}
				{{#interestsBool}}
				<section id="interests" class="section">
					<h2><i class="fa fa-star left"></i> Interests</h2>
					{{#interests}}
					<h3 class="skills">{{name}}</h3>
					<ul class="list-set keywords">
					{{#keywords}}
						<li>{{.}}</li>
					{{/keywords}}
					</ul>
					{{/interests}}
				</section>
				{{/interestsBool}}
				{{#languagesBool}}
				<section id="languages" class="section">
					<h2><i class="fa fa-language left"></i> Languages</h2>
					{{#languages}}
					<h3>{{language}}</h3>
					<h4>Fluency: {{fluency}}</h4>
					{{/languages}}
				</section>
				{{/languagesBool}}
				{{#referencesBool}}
				<section id="references" class="section">
					<h2><i class="fa fa-thumbs-up left"></i> References</h2>
					{{#references}}
					<blockquote>
						{{reference}}
						<div class="name"><br />- {{name}}</div>
					</blockquote>
					{{/references}}
				</section>
				{{/referencesBool}}
			</main>
		</div>
	</body>
</html>
